/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/placeholder-loading/src/scss/placeholder-loading";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa !important;}
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";